body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  border: 1px solid #dee2e6;
  padding: 25px;
}

.wrapper h2 {
  display: inline-block;
}

.buttonWrapper {
  display: flex;
    justify-content: flex-end;
}

.buttonWrapper button:nth-child(2) {
  margin-left: 20px;
}
.tableTitle {
  display: flex;
  justify-content: space-between;
}
.errorLabel {
  color: #bd0000;
  font-size: .8em;
}